@import "normalize";

*, *:before, *:after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: relative;
}

#map {
	display: block;
	margin: 40px auto;
}